<!doctype html>
<html>
  <head>
    <title>Billiglappen.no</title>
    <link rel="stylesheet" type="text/css" href="../style.css" /> 
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Jomhuria&family=Overpass:wght@300&display=swap" rel="stylesheet"></head>
  <body>
<div class="header">
    <div class="logo-container">
        <img src="../img/billiglappen.jpg" alt="Billiglappen.no logo">
        <h1>Billiglappen.no</h1>
    </div>
    <div class="type-selection">
        <button id="light-class-button">Lette Klasser</button>
        <button id="tg-course-button">Trafikalt Grunnkurs</button>

    </div>
    <div class="links">
        <a href="about">Om Billiglappen.no</a>
        <a href="contact">Kontakt</a>
    </div>
</div>
<div class="anchor">
    <div class="content">
        <h1>Om Billiglappen.no</h1>
        <p>Dette er et enmannsprosjekt som startet i 2020 som et hobbyprosjekt,
            men det ble senere ble bestemt at dette skulle i stedet være Bacheloroppgaven min for avsluttende år som dataingeniør på USN.
        </p>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    "use strict"
    
    const lightClassButton = document.querySelector("#light-class-button");
    const tgButton = document.querySelector("#tg-course-button");
    
        
    lightClassButton.addEventListener("click", event => {
        window.location.href = "/";
    }) 
        
    tgButton.addEventListener("click", event => {
        window.location.href = "trafikaltgrunnkurs";
    })
    </script>